language: python
python:
  - 2.7
sudo: false
env:
  - TOX_ENV=py27-unittest
  - TOX_ENV=py27-integration
  - TOX_ENV=py35-unittest
  - TOX_ENV=py35-integration
  - TOX_ENV=lint
  #- TOX_ENV=docs
install:
  - pip install tox
script:
  - tox -e $TOX_ENV
notifications:
  slack:
    rooms:
      - readthedocs:y3hjODOi7EIz1JAbD1Zb41sz#random
    on_success: change
    on_failure: always
